*{
    margin: 0;
    padding: 0;
    outline: 0;

}

.main{
    
    width: 1100px;
    margin: 25px 70px;
}

.sec-1 h1{
    font-size: 33px;
    letter-spacing: 1px;
    font-family: Arial;
    font-weight: normal;
}
.sec-1 h3{
    margin: 30px 0;
    padding: 3px 8px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    width: max-content;
}
.sec-2{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.top{
    font-size: 20px;
    font-family: Arial;
    margin-bottom: 10px;
    font-weight: bold;
}
.bottom{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 10px 0;
    font: 1em sans-serif;
}
.bottom > div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.vremya_{
    display: flex;
    gap: 10px;
}
.dolki{
    display: flex;
    flex-direction: row;
}
.dolki div {
    /* border: 1px green solid; */
    /* text-align: center; */
}

.numbers{
    padding: 0 3px;
    background-color: aquamarine;
    cursor: pointer;
}

.selected {
    background-color: rgb(85, 182, 150);

}
input[type="date"]{
    padding: 5px 30px 5px 0;
    border: 1px black solid;
    
}
.map img{
    width: 100%;
}
.right{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
